* {
  font-family: var(--font-sans);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--select);
}

.hidden {
  opacity: 0;
}

body {
  background: var(--background);
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.35s;
  padding: 0 24px;
}

.inner-container {
  max-width: 480px;
  text-align: center;
}

.icon {
  margin-bottom: 16px;
}

.headline {
  font-size: 36px;
  font-weight: 900;
  color: var(--neutral-primary);
  line-height: 1.2;
  margin-bottom: 8px;
}

.footnote {
  font-size: 14px;
  font-weight: 400;
  color: var(--neutral-secondary);
  line-height: 1.5;
}

.body {
  font-size: 16px;
  font-weight: 400;
  color: var(--neutral-primary);
  line-height: 1.5;
}

.section {
  margin-bottom: 32px;
}

.section:last-child {
  margin-bottom: 0;
}

.button {
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  background: var(--primary);
  border: none;
  outline: none;
  padding: 0 16px;
  border-radius: 4px;
  color: var(--on-primary);
  min-width: 48px;
}

.button:hover {
  opacity: 0.9;
}

.step {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 16px;
}

.step:last-child {
  margin-bottom: 0;
}

.step-number {
  height: 32px;
  width: 32px;
  background: transparent;
  flex: 0 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  border-radius: 50%;
  border: 1px solid var(--neutral-tertiary);
}

.step-number > p {
  font-size: 14px;
  font-weight: 500;
  color: var(--neutral-secondary);
}

.step-text {
  width: 100%;
}
